* {
  //padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 8px;
  //font: bold;
}

.cover-container {
  position: relative;
}

.title {
  //font-size: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.hr-cover {
  height: 2px;
  opacity: 1.0;
  background-color: white;
}