<html>
  <body>
    <div class="cover-container">
      <img
        src="/assets/images/cover2.jpg"
        style="
          width: 80%;
          height: 10%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        "
      />
      <div class="title">
        <p>DISCOVER THE COLORFUL WORLD</p>
        <h1>NEW ADVENTURES</h1>
        <p>
          Plan your trip with us and travel around the world with the most
          affordable packages!
        </p>
      </div>
    </div>
  </body>
</html>
