<html>
  <body>
    <div class="cover-container">
      <img
        src="/assets/images/cover2.jpg"
        style="
          width: 80%;
          height: 10%;
          display: block;
          margin-left: auto;
          margin-right: auto;
        "
      />
      <div class="title">
        <p style="font-weight: bold;">DISCOVER THE COLORFUL WORLD</p>
        <h1 style="font-weight: bold;" >NEW ADVENTURE</h1>
        <hr class="hr-cover">
        <br>
        <p>
          Plan your trip with us and travel around the world <br>with the most
          affordable packages!
        </p>
        <br>
        <button class="btn btn-primary">
          DISCOVER NOW
        </button>
      </div>

      
      
    </div>
  </body>
</html>
