* {
  //padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  display: block;
  //margin: 8px;
  //font: bold;
  text-align: center;
}

.cover-container {
  position: relative;
}

.title {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //width: 30%;
}

.search-bar {
  // margin: auto;
  // //padding: 1.5em;
  // justify-content: center;
  // color: #171717;
  // text-align: left;
  // height: 100px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.button-3 {
  appearance: none;
  background-color: black;
  border: 1px;
  border-radius: 6px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.button-3:hover {
  color: white;
  background-color: #1a1a1a;
}

.button-3:active {
  color: white;
  background-color: black;
}
