<div class="container">
  <div class="cover-container">
    <img
      src="/assets/images/cover2.jpg"
      style="
        width: 80%;
        /* height: 10%; */
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
    />

    <div class="title">
      <p style="font-size: 15px; font-weight: 550">
        DISCOVER THE COLORFUL WORLD
      </p>
      <h1 style="font-weight: bold">NEW ADVENTURE</h1>

      <hr style="width: 700px; padding: auto; margin: auto" />
      <br />
      <p style="font-size: 15px">
        Plan your trip with us and travel around the world <br />with the most
        affordable packages!
      </p>
      <br />
      <button class="button-3">DISCOVER NOW</button>
    </div>
  </div>

  <div>
    <p class="title2">Search & Book all our destinations</p>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Search your city" />
  </div>

  <div>
    <h1 style="font-weight: bold; color: green">OUR SERVICES</h1>
    <hr style="width: 400px; padding: auto; margin: auto" />
  </div>
</div>
