<button nz-button nzType="primary" (click)="showModal(null)">Add</button>

<nz-table [nzData]="persons" [nzPageSize]="8">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.address }}</td>
      <td>
        <button nz-button nzType="primary" (click)="showModal(person)">
          <i nz-icon nzType="edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
